<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>ThymeLeaf Demo</title>
    <link rel="stylesheet" th:href="@{/css/demo.css}"/>
</head>

<body>

<p th:text="'Time on server is' + ${theDate}" class="funny"/>
</body>
</html>